@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* body style  */
.work-sans-Font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content-center {
    max-width: 1400px;
    margin: 0 auto;
}


/* shared styles */
.display_flex {
    display: flex;
}

.font_bold {
    font-weight: bold;
}

.dark02 {
    color: #424242;
}

.dark03 {
    color: #727272;
}

.color_primary {
    color: #FF900E;
}

/* .dark03 */

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn {
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}




/* header styles */
.banner_text {
    text-align: center;
    padding: 50px 0px;
}

.banner_img img {
    width: 100%;
    padding-bottom: 20px;
    background-position: center;
    background-size: contain;

}



/* navbar related styles  */
.brand,
.banner_tittle,
.feature_Tittie {
    font-size: 3rem;
}

.navber {
    align-items: center;
    justify-content: space-between;
}

.navLinks li {
    list-style: none;
    margin-left: 30px;
}

.navLinks a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* Feature section styles */
.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 70px;

}

.feature_imgs img {
    width: 100%;

}

.feature_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature_Tittie {
    margin-bottom: 0;
}

.feature_Description {
    margin: 30px 0;
}




/* Media query or Responsive website */
/* Small Device */
@media screen and (max-width:576px) {

    /* header section */
    .display_flex {
        flex-direction: column;
    }

    .banner_tittle {
        font-size: 2rem;
    }

    .navLinks li {
        margin-bottom: 10px;
    }

    .navLinks a {
        font-size: 28px;



    }

    /* Feature */
    .feature{
       display: flex;
       flex-direction: column-reverse;
    }
    .feature_text{
        text-align: center;
    }






}