@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* body style  */
.work-sans-Font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content-center {
    max-width: 1400px;
    margin: 0 auto;
}


/* shared styles */
.brand,
.banner_tittle,
.section_Tittie {
    font-size: 3rem;
    margin-bottom: 0;
}




.display_flex {
    display: flex;
}

.font_bold {
    font-weight: bold;
}

.dark02 {
    color: #424242;
}

.dark03 {
    color: #727272;
}

.color_primary {
    color: #FF900E;
}

/* .dark03 */

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn {
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}




/* header styles */
.banner_text {
    text-align: center;
    padding: 50px 0px;
}

.banner_img img {
    width: 100%;
    padding-bottom: 20px;
    background-position: center;
    background-size: contain;

}



/* navbar related styles  */


.navber {
    align-items: center;
    justify-content: space-between;
}

.navLinks li {
    list-style: none;
    margin-left: 30px;
}

.navLinks a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* Feature section styles */
.feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 70px;

}

.feature_imgs img {
    width: 100%;

}

.feature_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* feature will love enjoy */
.feature2_Tittle{
    /* max-width: 460px; */
    padding-left: 20px;
    border-left: 5px #FF900E solid;
}
.feature2_card{
    padding:30px;
    box-shadow: 0 4px 30px 0 rgba(255, 144, 14, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;

}
.feature2_card_Tittle{
    font-size: 25px;
    font-weight: 600;
    /* margin: 0; */
}
.feature2{
    margin: 5rem 0 0 0;
    display: flex;
    gap: 140px;
}

#experience_Badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
#experience_Year{
    font-size: 4rem;
    font-weight: bold;
}


/* Some Facts styles*/
.some_Facts {
    margin: 6rem 0;
}

.fact_Items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin: 100px 0;

}

.fact_Item {

    /* width: 50%; */
    text-align: center;
    border: 1px #FF900E solid;
    border-radius: 10px;
    padding: 45px 35px;
}

.fact_Item img {
    padding: 0 60px;
    margin-bottom: 0;
}

.fact_Item h3,
p {
    margin: 5px 0;

}


/* Our Sponspors */
.Sponspors_info {
    text-align: center;
    max-width: 540px;
    margin: 50px auto;

}

.Sponspors_Items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.Sponspors_Items img {
    padding: 10px;
    filter: grayscale(100%);
}

footer {
    text-align: center;
    padding: 30px 400px;
}

/* .google{
    background-color: #424242;
} */




/* -------------------------------------------- */



/* Media query or Responsive website */
/* Small Device */
@media screen and (max-width:576px) {

    /* header section */
    .display_flex,.feature2 {
        flex-direction: column;
    }

    .banner_tittle {
        font-size: 2rem;
    }

    .navLinks li {
        margin-bottom: 10px;
    }

    .navLinks a {
        font-size: 28px;



    }

    /* Feature */
    .feature {
        display: flex;
        flex-direction: column-reverse;
    }

    .feature_text {
        text-align: center;
    }


    .feature2_img img {
        width: 100%;
    }

    #experience_Badge{
        margin-left: 20px;
        margin-top: -30px;
    }
     
    
    /* some_Facts */
    

    .fact_Items,
    .Sponspors_Items {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }


    footer {
        padding: 5px 10px;
    }






}